<h4>Listagem de alunos</h4>
<a href="/aluno/cadastrar">NOVO</a>
<table>
    <tr>
        <th>NOME</th>
        <th>E-MAIL</th>
        <th>TELEFONE</th>
        <th>NOTA 1</th>
        <th>NOTA 2</th>
        <th>NOTA 3</th>
        <th>SITUAÇÃO</th>
    </tr>
    {{#each aluno}}
        <tr>
            <td>{{nome}}</td>
            <td>{{telefone}}</td>
            <td>{{email}}</td>
            <td>{{nota1}}</td>
            <td>{{nota2}}</td>
            <td>{{nota3}}</td>
            <td>{{situacao}}</td>
        </tr>
    {{/each}}
</table>